.weatherContainer{
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 2px 2px 4px grey;
}

.weatherCard {
    font-size: small;
    border: none;
    display: inline;
    display: block;
    margin: 0;
    padding: 0;
    width: "10rem";
    line-height: 1.5;
    /* border: 1px solid red; */
    width: 135px;
    height: 145px;
}

li {
    list-style: none;
}
