.header {
  margin-bottom: 50px;
  /* background-image: url("../../Assets/searchHeader.jpg"); */
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 80%;
}

#homeHeader {
  text-align: center;
  margin: 0;
  padding: 30px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.searchField {
  margin: 50px auto 0 auto;
  width: 80%;
}

.searchBar {
  border-radius: 33px;
}

#searchIcon {
  border-radius: 0 33px 33px 0;
}

.all-states {
  width: 100px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .all-states {
    /* display: none; */
  }
}

.checkbox {
  padding-top: 5px;
  color: #FFF;
  text-shadow: 4px 4px 4px #000000;
}
