.saveBtn {
    position: relative;
    left: 400px;
    bottom: 5px;
}

.saveBtn:active {
    /* background-color: #39533a; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.campsiteCard {
    /* padding: 10px 0 10px 0; */
}