.btn {
  color: white;
  border: #39521d solid 1px;
  background-color: #39521d;
}

.saveButton {
  margin-bottom: 5px;
  width: 100%;
}

.clearButton {
  border: #a54027 solid 1px;
  background-color: #a54027;
  width: 100%;
}