.saveBtn {
    float: right;
    /* position: relative;
    left: 400px;
    bottom: 5px; */
}

.saveBtn:active {
    /* background-color: #39533a; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.resultsContainer {
    margin-top: 60px;
}

.mapContainer {
    width: 100%;
    /* border: 5px solid red; */

    box-shadow: 2px 2px 2px grey;
    padding-top: 20px;


    /* width: 400px;
    height: 400px; */
}