.saveBtn {
  float: right;
  /* position: relative;
    left: 400px;
    bottom: 5px; */
}

.saveBtn:active {
  /* background-color: #39533a; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.resultsContainer {
  margin-top: 60px;
}

.mapContainer {
  box-shadow: 2px 2px 2px grey;
  width: 500px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  margin: 0;
  top: 20%;
  z-index: 4;

}

@media only screen and (max-width: 780px) {
  .mapContainer {
    width: 100% !important;
    /* height: 400px !important; */
  }
}
